﻿a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html { font-size: 14px; }

@media (min-width: 768px) {
    html { font-size: 16px; }
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


a:link {
    color: black;
    font-size: 20px;
}

a:visited {
    color: black;
    font-size: 20px;
}

a:hover {
    color: grey;
    font-size: 20px;
}

a:active {
    color: black;
    font-size: 20px;
}