@model LoggedOutViewModel

@{ 
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}

<div class="logged-out-page">
    <h1>
        Выход
        <small>Вы вышли из системы</small>
    </h1>

    @if (Model.PostLogoutRedirectUri != null)
    {
        <div>
            Нажмите<a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">здесь</a> вернуться к
            <span>@Model.ClientName</span> аукциону.
        </div>
    }

    @if (Model.SignOutIframeUrl != null)
    {
        <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
    }
</div>

@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}
